@media (min-width: 960px){
    body{
        width: 100%;
    }
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 60%;
    margin: auto;
}
a{
    font-size: 1vw;
    color: #FFFFFF;
    text-decoration: none;
}
.container1{
    width: 60%;
    background: linear-gradient(180deg, #55B74C 0%, #4BA043 162.75%);
    padding: 1% 1%;
    border-radius: 7px;
    margin: 2%  auto;
    text-align: center;
}
.container2{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.photo, .information1{
    width: 50%;
}
.big_photo{
    width: 98%;
    margin: auto;
}
.big_p{
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.little_photo{
    display: flex;
    justify-content: space-between;
}
.little{
    width: 32%;
    padding: 3% 1%;
}
.little_p{
    width: 100%;
    height: auto;
    border-radius: 7px;
}
h2 {
    font-size: 2vw;
    padding: 0 2%;
}
.price{
    font-size: 1.5vw;
    padding: 0 2%;
}
.recomendation{
    font-size: 1vw;
    padding: 0 3%;
}
footer{
    background: #2B2B2B;
    padding: 2% 0;
}
.Vector{
    display: none;
}
footer li{
    list-style-type: none;
    margin: 6% 0;
}
footer li a{
    text-decoration: none;
    color: #898989;
    font-size: 1vw;
}
footer .ull{
    display: flex;
    justify-content: space-between;
    padding: 0 0 4% 0;
}
.zag a{
    color: #55B74C;
}
.systems{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.world {
    width: 60%;
    height: auto;
}
.world img{
    width: 100%;
    height: auto;
    padding: 1% 0;
}
.social{
    width: 30%;
    height: 50%;
}
.social img{
    width: 100%;
    height: auto;
}
footer p{
    font-size: 0.9vw;
    color: #898989;
    text-align: center;
}
}